* {
    font-family: monospace;
}

button {
    border: 0px none;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

p {
    font-size: 20px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, -50%);
}